<launch>
  <node pkg="sawback_manipulation" type="grasp_detection" name="grasp_detection" output="screen">
    <remap from="cloud" to="/ridgeback/bumblebee/points2"/>
    <remap from="filtered_cloud" to="/ridgeback/grasps/filtered_cloud"/>

    <param name="remove_ground" value="false"/>
    <param name="cartesian_limits" value="true"/>

    <rosparam param="xyz_lower_limits">[-5.0, -5.0, 0.0]</rosparam>
    <rosparam param="xyz_upper_limits">[5.0, 5.0, 0.80]</rosparam>
  </node>


  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
          args="-d $(find sawback_manipulation)/config/sawback_grasps.rviz" output="screen">
  </node>
</launch>
